h1 {
color: var(--gray-500);
font-family: "Inconsolata", monospace;
font-size: 20px;
line-height: 120%;
padding-top: 56px;
font-weight: 400;
}

.container {  
  background: url(/assets/backgrounds-imgs/Background_Intro.png);
  background-size: cover;
  text-align: center;
}

.header {
  color: var(--gray-600);
  font-family: "Asap", sans-serif;
  font-size: 56px;
  font-weight: bold;
  line-height: 120%;
}

.user {
  padding-top: 170px;
}

strong {
  color: red;
}

header > p {
  font-family: "Asap", sans-serif;
  color: var(--gray-400);
  font-size: 14px;
  margin-bottom: 80px;
  margin-top: 20px;
  font-weight: 400;
}

ul  {
  font-family: "Maven Pro", sans-serif;
  line-height: 140%;
  color: var(--gray-500);
  padding: 16px 8px;
  margin-right: 16px;
  align-items: center;
  display: inline;
  background-color: var(--gray-300);
  border-radius: 30px;
  text-align: center;
}

.GitHub{
width: 24px;
height: 24px;
margin-right: 8px;
font-family: "Maven Pro", sans-serif;
font-size: 16px;
font-weight: 120%;
}

.HTML{
width: 24px;
height: 24px;
margin-right: 8px;
font-family: "Maven Pro", sans-serif;
}

.CSS {
width: 24px;
height: 24px;
margin-right: 8px;
font-family: "Maven Pro", sans-serif;
}

.JavaScript {
width: 24px;
height: 24px;
margin-right: 8px;
font-family: "Maven Pro", sans-serif;
}

.React {
width: 24px;
height: 24px;
margin-right: 8px;
font-family: "Maven Pro", sans-serif;
}

.Node {
width: 24px;
height: 24px;
margin-right: 8px;
font-family: "Maven Pro", sans-serif;
}

.seta {
margin-top: 94px;
}

